body {
    padding: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 80vh;

    font-family: Sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #cccccc;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    float: none;
}

.type {
    /*padding: 50px;*/
    font-size: 2em;

    /*display: flex;*/
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    float: none;
}

.type .char {
    visibility: hidden;
    animation: animate 0s steps(2) forwards;
    animation-delay: calc(0.04s * var(--char-index));
}

@keyframes animate {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}