.center-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    float: none;
}

body {
    /*background-image: url("https://usercontents-c.styleshare.kr/images/16911421/640x-");*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #cccccc;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    float: none;
}

.sticky-header-panel{
    padding-top: 100px;
    position: -webkit-sticky;
    position: sticky;
}

.menu-btn {
    -moz-box-shadow:inset -1px 1px 19px 16px #ffffff;
    -webkit-box-shadow:inset -1px 1px 19px 16px #ffffff;
    box-shadow:inset -1px 1px 19px 16px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;
    border-radius:14px;
    border:2px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:14px 40px;
    text-decoration:none;
}
.menu-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.menu-btn:active {
    position:relative;
    top:1px;
}


.custom-btn {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.custom-btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
    background-color: #f6f6f6;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#info-table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#info-table-wrapper button {
    background-color: lightgrey;
    border: solid 1px #00BFFF;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 10px;
    cursor: pointer;
    float: left;
}

#info-table-wrapper h2 {
    text-align: center;
    font-weight: bolder;
}

#info-table td input {
    width: 300px;
    height: 25px;
    margin: 0 auto;
    border: none;
    border: solid 1px #ccc;
    border-radius: 10px;
}

#info-table thead {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

#btns {
    list-style: none;
    margin: 0;
    padding: 0;
}

#btns li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    float: left;
}

